nav {
  background-color:#085add;
  height: 40px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,0.75);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.75);
  display:flex;
  align-items: center;
  padding: 7px;
  margin-bottom: 2em;
}

.link {
  text-decoration: none;
  color: #fff;
  font-family: arial;
  font-size: 15px;
}

.link:hover {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.calculator {
  height: 400px;
  width: 400px;
  border: 1px black solid;
  margin: auto;
  font-size: 1.5em;
}

.display {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(58, 65, 58);
}

.result {
  margin-right: 10px;
  font-size: 35px;
  color: white;
  animation: blink .5s infinite;
  animation-timing-function: linear;
}

.clear-divide {
  display: flex;
  width: 100%;
  height: 20%;
}

.top-number-row {
  display: flex;
  width: 100%;
  height: 20%; 
}

.middle-number-row {
  display: flex;
  width: 100%;
  height: 20%;
}

.bottom-number-row {
  display: flex;
  width: 100%;
  height: 20%;
}

.item {
  border: 1px solid black;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: yellow;
  color: black;
}

.operator {
  background-color: red;
  color: white;
}

.number {
  background-color: blue;
  color: white;
}

 /* Hover States */
.clear:hover {
  transform: scale(1.05);
  background-color: orange;
  cursor: pointer;
}

.operator:hover{
  transform: scale(1.05);
  background-color: purple;
  cursor: pointer;
}

.number:hover{
  transform: scale(1.05);
  background-color: green;
  cursor: pointer;
}

/* Animations */
@keyframes blink {
  0% { opacity: 0}
  25% { opacity: 0.25 }
  75% { opacity: 0.75 } 
  100% { opacity: 1 }
}